main {
    padding-top: 100px;
    width: 70%;
    margin: 0 auto;
  }
  .manage_orderUser-input input {
    width: 70%;
    border: none;
    background-color: rgb(232, 241, 241);
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  .manage_orderUser-input button {
    width: 15%;
    border: none;
    background-color: rgb(208, 60, 60);
    color: white;
    border-radius: 0 5px 5px 0;
    object-fit: none;
    padding: 0 3px;
  }
  .list-orderUser {
    width: 100%;
   
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgb(232, 241, 241);
    text-align: center;
  }

  .list-orderUser th {
    background-color: blueviolet;
    color: white;
  }
  .list-orderUser .btn-delete {
    width: 20%;
    border: none;
    background-color: rgb(208, 60, 60);
    border-radius: 5px;
    color: white;
    margin-right: 5px;
  }
  .list-orderUser tr {
    border-bottom: 1px solid rgb(189, 220, 220);
  }
  .list-orderUser tr td {
    padding: 5px 0;
  }
  .list-orderUser .btn-edit {
    width: 30%;
    border: none;
    background-color: blueviolet;
    border-radius: 5px;
    color: white;
    margin-right: 5px;
  }
  .list-orderUser .btn-detail {
    width: 45%;
    border: none;
    background-color: rgb(191, 88, 88);
    border-radius: 5px;
    color: white;
    margin-right: 5px;
  }
  .manage_orderUser-input .btn-add {
    width: 13%;
    border: none;
    background-color: rgb(191, 88, 88);
    color: white;
    border-radius: 5px;
    padding: 0 3px;
  }
  .manager-orderUser{
    border: 1px solid rgb(173, 198, 198);
    padding: 20px;
    margin-bottom: 50px;
    box-shadow: 1px 2px 4px rgb(186, 112, 78);
    border-radius: 5px;
  }
  